PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=packeta
DB_PASSWORD=packeta
DB_DATABASE=packeta

MONGO_URI=mongodb://localhost:27017/packeta_logs

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1h
